#discussion {
    border-left: 1px solid #D3DDE6;
    background-color: #EEF3F6;
}

.avatars {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

ul li {
    list-style: none;
    background-color: inherit;
    transition: background-color .5s linear, opacity .5s linear;
    opacity: 1;
    &.selectedUser {
        opacity: .4
    }
    &.author {
        background-color: goldenrod;
    }
    &:hover {
        background-color: #bbb;
    }
}


.comment {
    margin-top: 1rem;
    &.author {
        img {
            border: 2px solid goldenrod;
        }
    }
    p {
        color: #96A2AF;
        line-height: 20px;
        word-break: break-all;
        // border: 1px solid black;
    }
}

.left {
    text-align: left;

    img {
        order: -1;
    }
}

.right {
    text-align: right;

    img {
        order: 1;
    }
}